*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo{
width: 140px;
height: 60px;
}

.color-primary{
    color: #469165;
}

/* header section  */
header{
    background-color: white;
    padding-top: 16px;
    padding-right: 120px;
    padding-left: 120px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

.btn{
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    
}
 /* nav bar ends here  */


/* hero sec items  */
.green-circles{
    width: 16px;
height: 16px;

}

 /* early access button  */
.ea-button{
    margin-top: 115px;
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #469165;
    background-color: #ffffff;
    display:flex ;
    align-items: center;
    gap: 6px;
    width: 230px;
    height: 35px;
    justify-content: center;
} 

.ea-button h3{
    font-size: 16px;
    font-weight: 500;
}
 /* early access button  */

 /* hero sec texts  */
.hero-text{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center ;
 }

.hero-text h1{
    color: rgb(255, 255, 255) ;
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.hero-text h1 span{
    color: #469165;
}

.hero-text p{
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 32px;
    align-self: center;
}
 /* hero sec texts  */

.hero-image{
    height: 600px;
    width: 1400px;
}

/* hero sec btns  */
.cta-btn{
    display: flex;
    gap: 16px;
}


.btn-two{
    height: 52px;
    width: 251px;
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    
}

.btn-three{
    height: 52px;
    width: 198px;
    background-color: transparent;
    border: 1px white;
    border-style:solid;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    
}
/* hero sec btns  */

.section-heading h1{
    color: #001931 ;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 68px;
    margin-bottom: 16px;
}

.section-heading h2{
    color: #627382 ;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
}

/* ------------------------------------------------- */
.heading-section h1{
    margin-left: 120px;
    margin-top: 80px;
    font-size: 48px;
    font-style: bold;
    text-align: center;
    align-items: center;
    color: #001931;
}

.heading-section p{
    margin-left: 120px;
    margin-top: 16px;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    align-items: center;
    color: #627382;

}

.cards-main {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 40px;
  margin-left: 164px;
  margin-right: 164px;
}

.card-container {
  width: 322px;
  height: 300px;
  padding: 48px 32px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

}

.icon-circle {
  width: 48px;
  height: 48px;
  background: #ff4d4f;
  border-radius: 50%;
  margin: 0 auto 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle img {
  width: 26px;
  height: 26px;
}

.card-container h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.card-container p {
  font-size: 16px;
  margin-top: 16px;
color: rgba(98, 115, 130, 1);
}


/* ----------------------------------------------- */

.section-three{
    margin-top: 120px;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-left: 200px;

    
}


.sec-three-texts{
    margin-top: 200px;
    margin-bottom: 200px;
    max-width: 700;
}

.sec-three-texts h5{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    /* text-align: center; */
    margin-bottom: 16px;
}

.sec-three-texts h1{
    margin-bottom: 16px;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    /* text-align: center; */
}


.p1 p{
    color: #627382;
    /* text-align: center; */
    margin-bottom: 16px;
    


}


.p2 p{
    font-size: 16px;
    font-weight: 400;
    /* margin-top: 40px;  */
    margin-bottom: 16px;
    color: #001931;
    /* text-align: left; */
}

.early-access{
  width: 1360px;
height: 384px;
background: rgba(247, 246, 242, 1);
margin-left: 164px;
margin-right: 164px;
margin-top: 122px;
text-align: center;
align-items: center;
}

.main-content h1{
margin-top: 80px;
padding-top: 80px;
}
.main-content .p6{
padding-top: 16px;
color: #627382;
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}

.main-content .m-btn{
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
  width: 194px;
height: 52px;
margin-top: 24px;
background-color: #469165;
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-transform: capitalize;
}
.p7{
    color: #627382;
  padding-top: 16px;
  font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
}

.footer{
  margin-top: 120px;
  background-color: #001931;
  max-width: 100%;
  height: 348px;
justify-content: space-around;
}

.f-logo{
  padding-top: 120px;
  margin-left: 120px;
}

.social-logo{
  color: white;
  font-family: Inter;
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
margin-left: 1260px;
margin-top:-48px;
}
.social-links{
  gap: 16px;
  margin-top: 16px;
}

.p10{
color: white;
padding-top: 110px;
text-align: center;
padding-left: 50px;
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}